.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;  
  margin: 15px;
  
  .top {      
    background: #FFCC00;
    color: white;
    width: 85%;
    height: 100px;
    position: absolute;
    top: -5px;
    z-index: -2;
    border-radius: 15px 15px 0 0;
  }
  
  .bottom {
    color: #222;
    background: #FFF;
    padding: 50px 5px 15px 5px;
    border-radius: 30px 30px 15px 15px;
    position: relative;      
    z-index: -1;
    width: 100%;
    min-width: 120px;
    
    bottom: 40px;
    line-height: 1rem;

    span.name {
      text-transform: uppercase;
      display: block;
      font-weight: bold;
      padding: 5px 0;
    }

    span.description {    
      font-size: 0.9rem;
    }
  }
   
}
