.slider {
  display: flex;
  align-items: stretch;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;  
  
  .top {      
    background: #FFCC00;
    color: white;
    width: 85%;
    height: 80px;
    position: absolute;
    z-index: -2;
    border-radius: 15px 15px 0 0;
  }
  
  .categoryIcon {
    position: relative;
    top: 15px;
  }

  .bottom {
    color: #222;
    background: #FFF;
    padding-top: 40px;
    border-radius: 30px 30px 15px 15px;
    position: relative;
    top: -15px;
    z-index: -1;
    width: 100%;
    min-width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;    
    line-height: 1rem;

    div.name {
      text-transform: uppercase;
      display: block;
      font-weight: bold;
      padding: 0 15px;
      font-size: .75rem;
    }

    div.description {    
      font-size: 0.7rem;
      padding: 10px 15px;
    }
  }
   
}
