.item {
  background: #fff;
  color: #222;  
  border-radius: 0 0 20px 20px;

  .image {
    display: grid;
    place-items: center;
  }

  .resume {
    padding-top: 20px;
    border-radius: 0 0 20px 20px;


    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 15px;
    }

    .description {
      padding: 5px 15px;
      font-size: 0.9rem;
    }

    .price {
      padding:15px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      border-radius: 0 0 20px 20px;

      div {
        margin-left: 5px;
      }

      .originalPrice {
        text-decoration: line-through;
        font-size: 0.8rem;
      }

      .promoPrice {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  }
}

.options {  
  color: #fff;
  padding: 15px;

  .info {
    font-size: 0.8rem;
    opacity: .8;
  }
}

.itemLabel {
  line-height: 1.1rem;
}

.itemName {
  font-weight: bold;
  font-size: 1.1rem;;
}

.itemDescription {
  color: #777;
  font-size: 0.9rem;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #222;
  border-radius: 20px;
  padding: 2.5px;
  width: 90px;

  div:nth-child(2) {
    color: #fff;
    padding: 0 5px;
    font-size: 0.8rem;
  }

  div:first-child , div:last-child {
    background: #FFCC00;
    border-radius: 20px;
    width: 25px;
    height: 25px; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;  
  }
}