.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1000px;
  margin: auto;

  main {
    height: 100%;
    overflow: auto;
  }
}

.message {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 4px;

  &.success {
    background-color: #048104;
  }

  &.error {
    background-color: #c74040;
  }
  
  .icon {
    padding: 10px;
    border-radius: 4px 0 0 4px;

    &.success {
      background-color: #026102;
    }
  
    &.error {
      background-color: #a32828;
    }
  }

  .text {
    width: 100%;
    padding: 10px;
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.success {
      background-color: #048104;
    }
  
    &.error {
      background-color: #c74040;
    }

    .close {
      font-size: 0.7rem;
      font-weight: bold;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  

  .pageTitle {
    font-size:1.4em;
  }

  .cta {
    font-size: 0.8rem;
    border: 1px solid #da5220;
    color: #da5220;
    padding: 5px 15px;
    border-radius: 5px;    
    transition: background-color .2s;

    &:hover {
      background: #454548;
      cursor: pointer;
    }
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #525457;
  margin: 25px 0;
}

.floatingCta {
  background: #da5220;
  position: fixed;
  bottom: 15px;
  right: 25px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity .2s;

  &:hover {
    opacity: .8;
  }
}

.avatarPlaceholder {
  transition: all .2s ease-in;
  opacity: 0;

  &:hover {
    opacity: 0.7;
  }
}