.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  main {
    height: 100%;
    overflow: auto;
  }

  button {
    background: #333;
    color: #FFCC00;
    padding: 15px;
    width: 50%;
    border-radius: 0 20px 20px 0;
  }
}