.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  
  main {
    height: 100%;
    overflow: auto;

    .spotBanner {
      border-radius: 20px;
    }
  }
}

.item {
  background: #fff;
  color: #222;  
  border-radius: 0 0 20px 20px;

  .image {
    display: grid;
    place-items: center;
  }

  .resume {
    padding-top: 20px;
    border-radius: 0 0 20px 20px;


    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 15px;
    }

    .description {
      padding: 5px 15px;
      font-size: 0.9rem;
    }

    .price {
      padding:15px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      border-radius: 0 0 20px 20px;

      div {
        margin-left: 5px;
      }

      .originalPrice {
        text-decoration: line-through;
        font-size: 0.8rem;
      }

      .promoPrice {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  }
}

.options {  
  color: #fff;
  padding: 15px;

  .info {
    font-size: 0.8rem;
    opacity: .8;
  }

  .controls {
    display: flex;
    flex-direction: column;

    .size {
      display: flex;
      align-items: center;
      margin: 10px 0;

      & > div:first-child {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }
      
      & > div:last-child {
        display: flex;
        align-items: center;
        & > div {
          margin: 0 10px;
        }
      }

      .label {
        opacity: .9;
      }

      .description {
        opacity: .5;
        font-size: 0.8rem;
      }

      .symbol {
        opacity: .5;
        font-size: 0.8rem;
      }

      .price {
        font-weight: bold;
      }

      .badgeSize {
        background: #FFCC00;
        width: 25px;
        height: 25px;
        color: #222;
        font-weight: bold;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .optionals {
      margin: 10px 0;
      display: flex;
      align-items: center;
      margin: 10px 0;

      & > div:first-child {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }
      
      & > div:last-child {
        display: flex;
        align-items: center;
        & > div {
          margin: 0 10px;
        }
      }

      .label {
        opacity: .9;
      }

      .description {
        opacity: .5;
        font-size: 0.8rem;
      }
    }
  }

  .separator {
    width: 100%;
    height: 1px;
    background: #4A4A4A;
  }
}

.itemLabel {
  line-height: 1.1rem;
}

.itemName {
  font-weight: bold;
  font-size: 1.1rem;;
}

.itemDescription {
  color: #777;
  font-size: 0.9rem;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #222;
  border-radius: 20px;
  padding: 2.5px;

  div:nth-child(2) {
    color: #fff;
    padding: 0 5px;
    font-size: 0.8rem;
    width: 40px;
    text-align: center;
  }

  div:first-child , div:last-child {
    background: #FFCC00;
    border-radius: 20px;
    width: 25px;
    height: 25px; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;  
  }
}

.itemFooter {
  background: rebeccapurple;
  display: flex;
  width: 100%;
  border-radius: 40px;

  > div {
    cursor: pointer;
  }
  
  > div:first-child {
    display: flex;
    background: #4a4a4a;
    border-radius: 40px 0 0 40px;
    padding: 15px;
    width: 100%;
    justify-content: center;
  }
  
  > div:last-child {
    display: flex;
    background: #58A926;
    border-radius: 0 40px 40px 0;
    padding: 15px;
    width: 100%;
    justify-content: center;
  }

}