@import '/styles/colors';

.cHeader {
  background-color: $yellow;
  color: $black-0;

  &__cta {
    color: $white;
    background: $black-1;
    padding: 0.25rem 0.5rem;
    border-radius: 0.2rem;
    font-size: 0.8rem;
  }
}