@import 'colors';

*,
*::before,
*::after {  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  height: 100%;
}

.wrapper {
  background: $black-1;
  color: $white;
  transition: all .3s ease-in-out;
  padding: 15px;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "header"
    "main"
    "footer";

  .header {
    
  }

  .sidebar {
    background-color: rebeccapurple;
    position: absolute;
    height: 100%;
    width: 90%;
    left: 0;
    top: 0;
    z-index: 9;
    transition: all .3s ease-in-out;
  
    &.hide {
      left: -90%;
    }
  }

  .main {
    overflow-y: auto;
  }

  .footer {
    
  }
}

.swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  cursor: pointer;
}

.swiper-slide {
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}