.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #FFCC00;
  color: #222;

  main {    
    height: 100%;
    overflow: auto;    
  }
}

.selected {
  background: #373435;
  color: #FFCC00;
}

.menuItem:hover {
  background: #373435;
  color: #FFCC00;
  cursor: pointer;
}